@font-face {
  font-family: "HankenGrotesk";
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root {
  /*Primary Colors*/

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /*Gradients*/

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  --background: linear-gradient(
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );

  /* Neuteral*/

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "HankenGrotesk";
  background-color: var(--White);
  font-size: 1rem;
  color: var(--Pale-blue);
}

img,
svg {
  display: inline;
  position: relative;
  max-width: 100%;
}

.main-container {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  background-color: var(--White);
  box-shadow: 20px 20px 50px var(--Pale-blue);
  border-radius: 30px;
}

.card1 {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  border-radius: 30px;
  background: var(--background);
  place-items: center;
}

.card2 {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 1rem;
  background-color: var(--White);
  border-radius: 30px;
}

.result-main {
  background-color: var(--Light-royal-blue-background);
  display: grid;
  place-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 1px 1px 100px var(--Cobalt-blue);
}

.text-xl {
  font-size: 4rem;
  font-weight: 800;
  color: var(--White);
  text-align: center;
}

.text-sm {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Pale-blue);
  text-align: center;
}

.card1 span:nth-child(2) {
  display: block;
  color: var(--Pale-blue);
  font-weight: 500;
}

.results-main {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  background: var(--background);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: 700;
  color: var(--White);
  box-shadow: inset -0px -0px -10px var(--Cobalt-blue);
}

.result-title {
  margin-bottom: -5px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--Pale-blue);
}


.sub-title {
  margin-top: 10px;
  font-weight: 700;
  text-align: center;
  color: var(--White);
}

.sub-text {
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--Pale-blue);
  text-align: center;
}

.summary {
  position: relative;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Dark-gray-blue);
  gap: 0.5rem;
}

.continue {
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem;
  background: var(--Dark-gray-blue);
  color: var(--White);
  border-radius: 40px;
  border: none;
  text-align: center;
}

.continue:hover {
  background: var(--background);
  cursor: pointer;
}

.scores {
  padding-left: 20%;
  font-weight: 700;
  color: var(--Dark-gray-blue);
}

.score-fade {
  font-weight: 700;
  color: var(--Light-lavender);
  padding-right: 20%;
}

.reaction {
  padding: 10px;
  background-color: hsl(0, 100%, 67%, 0.06);
  border-radius: 10px;
  color: var(--Light-red);
  font-weight: 700;
  width: 70%;
}

.memory {
  padding: 10px;
  background-color: hsl(39, 100%, 56%, 0.06);
  border-radius: 10px;
  color: var(--Orangey-yellow);
  font-weight: 700;
  width: 70%;
}

.verbal {
  padding: 10px;
  background-color: hsl(166, 100%, 37%, 0.06);
  border-radius: 10px;
  color: var(--Green-teal);
  font-weight: 700;
  width: 70%;
}

.visual {
  padding: 10px;
  background-color: hsl(221, 100%, 96%, 0.9);
  border-radius: 10px;
  color: var(--Cobalt-blue);
  font-weight: 700;
  width: 70%;
}
